* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

html,body,div,video,ul,li {
    margin: 0;
    padding: 0; 
    list-style: none;
}

/* @font-face {
    font-family: "Nanum";
    src: url("../Kfont/NanumSquareR.ttf");
    unicode-range: U+AC00-D7A3;
} */

@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url("../Efont/BebasNeue-Regular.ttf");
}

body {
    color: #fff;
    font-size: 12px;
}

/************************* 비디오 태그 *************************/

header {
    position: relative;
}

#web-back {
    width: 100%;
    height: 100%;
    /* height: -webkit-fill-available; */
    position: absolute;
    overflow: hidden;
}

#web-back > video {
    width: 100%;
}

/************************* header *************************/

#about-title {
    padding-top: 75px;
    margin-left: 95px;
}

#about-title > a {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(158, 158, 148);
}

#menu-box {
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    top: 350px;
    z-index: 2;
}

.menu > li {
    width: 400px;                     /*jquery-mobile 적용전 370px*/
    margin-bottom: 95px;
    margin-left: 100px;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
}

/* .menu > li > a {
    text-shadow: 5px 5px 5px rgb(158, 158, 148);
} */

/************************* section **************************/

section {
    position: relative;
}

#about-back {
    width: 750px;
    height: 660px;
    background: rgba(85, 83, 83, 0.5);
    position: absolute;
    left: 170px;
    top: 40px;
}

.about-sub {
    display: flex;
    justify-content: center;
}

.about-sub > li {
    background: #000;
    padding: 20px 40px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(230, 221, 221);
}

.about-sub > li:hover {
    color: rgba(255, 230, 0, 0.979);
    border-top: 3px solid;
    border-bottom: 3px solid;
}


































/************************* footer *************************/

.back-page  {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 80px;
}

.back-page > a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}