* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

html,body,div,video,ul,li {
    margin: 0;
    padding: 0; 
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Nanum";
    src: url("../Kfont/NanumSquareR.ttf");
    unicode-range: U+AC00-D7A3;
} */

@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url("../Efont/BebasNeue-Regular.ttf");
}

body {
    color: #fff;
    font-size: 12px;
}

/************************* 비디오 태그 *************************/

header {
    position: relative;
}

#web-back {
    width: 100%;
    height: 100%;
    /* height: -webkit-fill-available; */
    position: absolute;
    overflow: hidden;
}

#web-back > video {
    width: 100%;
}

/************************* header *************************/

#about-title {
    padding-top: 75px;
    margin-left: 95px;
}

#about-title > a {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(158, 158, 148);
}

#menu-box {
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    top: 350px;
    z-index: 2;
}

.menu > li {
    width: 400px;                     /*jquery-mobile 적용전 370px*/
    margin-bottom: 95px;
    margin-left: 100px;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
}

/* .menu > li > a {
    text-shadow: 5px 5px 5px rgb(158, 158, 148);
} */

/************************* section **************************/

section {
    position: relative;
}

#about-back {
    width: 750px;
    height: 700px;
    /* background: rgba(85, 83, 83, 0.5); */
    position: absolute;
    left: 170px;
    top: 40px;
}

.about-sub {
    display: flex;
    justify-content: center;
}

.about-sub > li {
    width: 220px;
    background: #000;
    padding: 20px 40px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(230, 221, 221);
}

/* .about-sub > li:first-child {
    width: 220px;
    height: 65px;
    font-size: 17px;
    font-weight: bold;
    color: rgba(255, 230, 0, 0.801);
    border-top: 3px solid;
    border-bottom: 3px solid;
} */



.about-sub > li:hover {
    width: 220px;
    height: 65px;
    font-size: 17px;
    font-weight: bold;
    color: rgba(255, 230, 0, 0.801);
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.about-section {
    background: rgb(36 35 35 / 50%);
    width: 750px;
    height: 635px;
    margin: 0 auto;
}

/************************* 소개 페이지지 **************************/

.about-flex {
    display: flex;
    justify-content: flex-start;
    padding-top: 35px;
}

.img {
    margin-left: 30px;
}

.img > img {
    width: 200px;
    height: 190px;
    background: #000;
}

.text {
    margin-left: 20px;
}

.text > ul > li {
    font-size: 17px;
    line-height: 1.9;
}

/************ about me ***********/

.about-me {
    margin-left: 25px;
    margin-top: 70px;
}

.about-me > h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.me-title {
    line-height: 3;
}

.about-me > p {
    line-height: 1.4;
}

/************ motto ************/

.motto {
    margin-left: 25px;
    margin-top: 60px;
}

.motto > h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.motto-title {
    line-height: 3;
}

.motto > p {
    line-height: 1.4;
}

/*************** more-btn ***************/


.more-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.more-btn:hover {
    color: rgba(255, 230, 0, 0.801);
}

.right {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 20px;
}

/************************* more-text-box **************************/

.more-t-box {
    width: 700px;
    height: 635px;
    background: rgba(00, 00, 00, 0.8);
    position: absolute;
    top: 9.3%;
    left: 102%;
    display: none;
}

/*************** close-btn ***************/

.close-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    left: 86%;
    bottom: 3.5%;
}

.close-btn:hover {
    color: rgba(255, 230, 0, 0.801);
}

.left {
    margin-right: 5px;
    margin-top: 2px;
    font-size: 20px;
}

/************************* more-text **************************/

.more-text {
    width: 700px;
    margin: 0 auto;
}

.more-title {
    width: 700px;
    background: #000;
}

.more-title > h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(255, 230, 0, 0.801);
    font-size: 21px;
    padding-left: 15px;
}

.more-text > p  {
    font-size: 16px;
    line-height: 2;
    margin-top: 60px;
    padding-left: 15px;
}

/************************************* about2 (career) ************************************/

.career-box {
    width: 750px;
    height: 575px;
    padding: 30px 0 0 35px;
}

.career-box > h2 {
    padding-bottom: 40px;
}

/************** career-table ************/

.career-table {
    display: flex;
}

.career-num {
    font-size: 20px;
    font-weight: bold;
}

.career-text {
    padding-left: 10px;
    font-size: 18px;
    line-height: 26px;
}

/************** career-text-box ************/

.career-t-box {
    width: 700px;
    height: 635px;
    background: rgba(00, 00, 00, 0.8);
    position: absolute;
    top: 9.3%;
    left: 102%;
    display: none;
}

.cert {
    width: 700px;
    padding: 45px 0 0 45px;
    line-height: 2;
}

.cert-box > li {
    font-size: 18px;
}

.cert > h2 {
    padding-bottom: 10px;
}

.f-20 {
    font-size: 20px;
    font-weight: bold;
}

.h2-2 {
    padding-top: 20px;
}

/************************************* about3 (skill) ************************************/

.skill-box {
    margin-bottom: 45px;
}

.skill-box > h2 {
    font-size: 20px;
    padding: 25px 0 5px 33px;
}

.skill-sub {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    padding-top: 15px;
}

.skill-sub > li {
    display: block;
    /* padding: 20px 16px; */
    /* padding: 15px 15px 0 15px; */
}

.skill-sub > li > img {
    width: 105px;
    height: 105px;
    background: #a9a9a940;
    border-radius: 20px;
    /* background: darkgray; */
}

/************************* skill-text-box **************************/

.skill-t-box {
    width: 700px;
    height: 635px;
    background: rgba(00, 00, 00, 0.8);
    position: absolute;
    top: 9.3%;
    left: 102%;
    display: none;
}

/************************* skill-progress **************************/



/************************************* about4 (hobby) ************************************/

.hobby-box {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    padding-top: 40px;
}

.hobby-box > ul > li {
    background: #a9a9a940;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 150px;
    height: 129px;
    text-align: center;
}

.hobby-box > ul > li > img {
    width: 130px;
    height: 110px;
    /* background: gray; */
    border-radius: 20px;
    margin-top: 9px;
}

































/************************* footer *************************/

.back-page  {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 80px;
}

.back-page > a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.back-page > a:hover {
    color: rgba(255, 230, 0, 0.801);
}